/*CSS USED IN ALL PAGES---- START*/
body {overflow-x: hidden;}
a {text-decoration: none;}
a:hover {text-decoration: none !important;}
@font-face {
	font-family: "gotham";
    src: url("../font/gotham/GOTHAM-MEDIUM.TTF");
    }
@font-face {
	font-family: "monsterrat_light";
    src: url("../font/gotham/MONTSERRAT-LIGHT_0.TTF");
    }
@font-face {
	font-family: "monsterrat_medium";
    src: url("../font/gotham/MONTSERRAT-MEDIUM_0.TTF");
    }
@font-face {
	font-family: "monsterrat_reg";
    src: url("../font/gotham/MONTSERRAT-REGULAR_0.TTF");
    }
    
body {font-family: 'monsterrat_reg' !important;}
body a {font-family: 'gotham'}
body p {font-size: 15px}
/*HEADER START*/
.navbar-default {border:none !important; border-radius: 0px !important; background: linear-gradient(to right, #5253DA , #7172FA); margin:0px auto  !important; color:white  !important; padding: 20px 80px}
.navbar-header {height: 100px !important}
.navbar-header button {margin-top: 25px; border: none; margin-right: 40px}
.navbar-header img {margin-left: 50px;width: 50px}
.collapse ul#ul1 {left: 0;right: 0;margin: auto;position: absolute;width: 340px;margin-top: 5px; }
.container-fluid a {color: white !important}
.navbar-right button:hover {background-color: transparent; border-color: white}
.navbar-right button {margin-top: -7px;font-size:15px;padding: 5px 16px; background-color: transparent; margin-right: 40px; border: 2px solid white; border-radius: 25px}
.navbar-right {margin-top: 5px;}
.container {width: 100% !important;}
.header {padding: 0px !important;background: linear-gradient(to right, #5253DA , #7172FA);margin-bottom: 200px}
.navbar-nav a {color: black; padding-top: 25px !important; font-size: 16px}
ul.login {float:left;}
.icon-bar {background-color: white !important}
.collapse {border-top: none;}
.navbar-brand h2 {margin: 6px;font-weight: bold}
.header_content {padding: 80px 80px 100px 80px}
.header_content_left {color: white}
.header_content_left h2 {display: inline; font-size: 55px;font-weight: bold; margin-top: 15px}
.header_content_left p {margin-top: 30px;margin-left: 5px;max-width: 450px;}
.header_content_left button {border-radius: 25px;padding: 8px 30px;background: transparent;color: #11ED95;border: 2px solid #11ED95;font-size: 20px;margin-top: 30px;}
.change_color {color:#11ED95;}
/*HEADER END*/
.features {padding: 10px 120px}
.headings {text-align: center; margin-bottom: 40px}
.headings h2 {font-weight: bold; margin-bottom: 15px; font-family: 'gotham';color: #2A2A48}
.headings p {color: #818193;letter-spacing: 1px;}
.apply_padding {padding: 0px 100px;}
.features_section {padding: 20px 15px; text-align: center;}
.features_section h2 {display: inline; font-size: 22px; margin-top: 15px}
.features_section img {width: 60px;margin-bottom: 40px;position: relative;}
.features_section_inner {min-height: 280px;padding: 30px 20px 20px 20px;border-radius: 4px;}
.second_img {opacity: 0.5;z-index: -1;top: 16px;left: 35px;width: 50px !important}
.features_section p {margin-top: 20px}
.feature1 {color:#FF6767}
.feature2 {color:#5859E0}
.feature3 {color:#11ED95}
.working_section {height: 250px; font-family: 'gotham'; padding: 10px 10px 10px 60px}
.working_section p {height: 250px; font-family: 'monsterrat_reg'}
.working_section h2 {color: #5859E0;margin: 5px 0px 20px 0px;} 
.working_section p1 {color: #FF6767;  font-size: 30px}
.seperator {display: none; border-bottom: 2px solid #E6E6FB; margin: 10px 0px}
.clients {background-color: #F9F9FF}
.comment_box {font-family: 'gotham';border-radius: 4px; background-color: white; margin-bottom: 30px;width: 420px; float: right;box-shadow: 0px 0px 15px 6px #EFEFF9;padding: 20px 25px}
.comment_box h2 {margin:0px; margin-bottom: 15px;}
.comment_box p {line-height: 1.7; margin: 0px; font-family: 'monsterrat_reg'; width: 310px}
.member_intro {padding: 15px 0px; margin-top: 15px}
.member_intro img {width: 50px; float: left; margin-right: 12px}
.member_intro p {margin-top: 2px;line-height: 1.4;font-family: 'gotham'}
.designation {color: #999999; font-size: 10px; font-family: 'monsterrat_reg' !important}
.comment_box_big {width: 450px}
.comment_box_right {float: left;}
.comment_box_top {margin-top: 50px}

.footer_row {border-bottom: 2px solid #E6E6FB; padding: 0px;color: #616169}
.footer_logo {text-align: left;padding: 0px; overflow: hidden;}
.footer_logo h2 {float: left;font-weight: bold;font-family: 'gotham';margin: 23px 0px 20px 0px; font-size: 22px}
/*.footer_logo p {margin: 30px 0px 20px 50px;}
.footer_links {width: auto !important;padding: 0px; float: right;}
.last_link {margin: 30px 0px 20px 0px;}*/
.text_align {text-align: right;padding-top: 27px}
.text_align p {display: inline;margin-right: 50px;}
.last_link {margin-right: 0px !important;}
.end_row {color: #67677D; padding: 15px 0px 60px 0px }
.footer_trademark {padding: 0px}
.logo_align {text-align: right; padding: 0px !important}
.logo_align img {width: 40px;margin-top: -5px; margin-left: 15px}


/*.features_section:hover .features_section_inner img {
    transition-delay: 5s;width: 80px;margin-bottom: 30px}*/
.features_section:hover .features_section_inner {transition-delay: 0s;box-shadow: 0px 0px 10px 1px wheat}
.features_section:hover .features_section_inner img {width: 80px; margin-bottom: 30px}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-9deg);
          transform: skewY(-9deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

@media only screen and (max-width: 991px)
{
	.header_content {padding: 80px 50px 30px 50px}
	.header_content_left h2 {font-size: 45px;}
	.working_section {padding: 10px 10px 10px 10px; text-align: center;}
	.seperator {display: block;}
	.comment_box {width: 420px; float: none;margin: 30px auto}
	.comment_box_big {width: 450px}
	.footer_logo h2 {float: none; margin: 0px}
	.footer_logo {text-align: center; width: 100%}
	.text_align p {display: block; text-align: center;margin-right: 0px; margin-bottom: 5px}
	.footer_trademark {text-align: center;}
    .logo_align {text-align: center;}
}
@media only screen and (max-width: 700px)
{
	.header_content_left h2 {font-size: 35px;}
	.features {padding: 10px 80px}
}

[data-aos="image1"] {
  margin-left: -30px;
  margin-top: 30px;
  margin-bottom: 0px;
  /*transition-property: margin;*/
}
[data-aos="image1"].aos-animate {
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 50px;
  /*display: none;*/
}
[data-aos="image2"] {
 	top: 30px;
    left: 40px;
  /*transition-property: margin;*/
}
[data-aos="image2"].aos-animate {
 	top: 15px;
    left: -30px;
    bottom:10px;
}


